wheel==0.40.0
pandas==2.0.3
ipykernel
ipywidgets
jupyter 
openai
langchain
langgraph
langsmith
langchain-cli
llama-index
weaviate-client==3.26.2
dspy-ai==2.1.9
pyautogen
anthropic
google-generativeai
streamlit
tqdm
chromadb
arize-phoenix[evals]