wheel==0.40.0
pandas==2.0.3
ipykernel
ipywidgets
jupyter 
openai
langchain
langgraph
langsmith
langchain-cli
llama-index
weaviate-client
dspy-ai
pyautogen
anthropic
google-generativeai
streamlit
tqdm
cohere
arize-phoenix
groundx-python-sdk==1.3.14